.gpg/
administrator
api
cache
cli
images
includes
layouts
libraries
media
modules
plugins
templates
tmp
.htaccess
*.php
*.txt
language
components/*
!components/com_sppagebuilder
components/com_sppagebuilder/*
!components/com_sppagebuilder/addons
components/com_sppagebuilder/addons/*
!components/com_sppagebuilder/addons/greviews
!components/com_sppagebuilder/addons/greviews/*
!components/com_sppagebuilder/assets
components/com_sppagebuilder/assets/*
!components/com_sppagebuilder/assets/js
components/com_sppagebuilder/assets/js/*
!components/com_sppagebuilder/assets/js/greviews.js
